.wrapper{
    padding: 40px 20px 0 20px;
    background: rgb(255,146,22);
background: -moz-linear-gradient(-45deg,  rgba(255,146,22,1) 0%, rgba(249,249,114,1) 14%, rgba(255,255,255,1) 51%, rgba(249,249,114,1) 76%, rgba(255,146,22,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(255,146,22,1) 0%,rgba(249,249,114,1) 14%,rgba(255,255,255,1) 51%,rgba(249,249,114,1) 76%,rgba(255,146,22,1) 100%);
background: linear-gradient(135deg,  rgba(255,146,22,1) 0%,rgba(249,249,114,1) 14%,rgba(255,255,255,1) 51%,rgba(249,249,114,1) 76%,rgba(255,146,22,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9216', endColorstr='#ff9216',GradientType=1 );


}
.calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
}